.typer {

    width: 250px;
    border-right: 2px solid #7e1414;
    animation: blink 0.4s step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #7e1414;
    }
}


.bubble {
    position: relative;
    font-family: sans-serif;
    line-height: 24px;
    background: #28af50;
    border-radius: 40px;
    padding: 24px;
    text-align: center;

}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #28af50;
    border-right: 12px solid transparent;
    border-top: 12px solid #28af50;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}
