.typer {

    width: 250px;
    border-right: 2px solid #7e1414;
    animation: blink 0.4s step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #7e1414;
    }
}
